<body>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <section class="mt-3 container bg-light shadow-lg p-4 d-flex justify-content-around">
    <div class="card" style="width: 18rem">
      <img src="https://cdn.idntimes.com/content-images/post/20180926/5c237f5d5eb57e320087ac2f40e2c9cb.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Laptop Gaming RTX 3090</h5>
        <p class="card-text">Rp.5.000</p>
        <a href="#" class="btn btn-primary">Beli Sekarang</a>
      </div>
    </div>
    <div class="col-7">
      <h4 class="mb-3">Penjelasan Website</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni atque aliquam error, amet voluptates in quaerat dolor. Molestiae magnam laboriosam provident? Optio nulla itaque neque veritatis mollitia quisquam voluptatibus rem hic,
        pariatur voluptatem, soluta eveniet necessitatibus omnis temporibus dolor molestias officiis eius, non consequatur aut nisi culpa. Harum reprehenderit eligendi quo cupiditate. Exercitationem sed, dolorem quidem harum modi placeat
        illo esse ullam mollitia dolores a dignissimos corporis repudiandae iste saepe temporibus iusto. Facilis facere quis minima excepturi quidem, ad rerum voluptate sequi, ipsam at consequatur odio delectus voluptatum. Soluta eveniet in
        quisquam ea pariatur animi eius, deserunt unde eos quia debitis doloribus, vel quo praesentium eum quos, labore dolore a maxime ullam dolorum illum at? Rem voluptates eligendi optio minus nemo recusandae, odio sit molestiae!
      </p>
    </div>
  </section>
</body>
